# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/

# Environment variables and secrets
.env
.flaskenv

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE Specific (VS Code, PyCharm)
.vscode/
.idea/
